:root {
  --xanh: #0B1526;
  --xanh-chinh: #00599C;
  --xanh-tuoi: #0A74C4;
  --xanh-nhat: #D6EAF8;
  --xanh-rat-nhat: #EEF3F8;
  --teal: #15803D;
  --vang: #C2410C;
  --vang-nhat: #FFEDD5;
  --do: #DC2626;
  --do-nhat: #FEE2E2;
  --chu: #0B1526;
  --chu-phu: #44546A;
  --vien: #DCE4EE;
  --nen: #F5F8FB;
}
